.orders-container {
    margin-top: 12rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: fit-content;
}

.orders-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.orders-div h2 {
    margin-left: 0.5rem;
}

.order-selection-div {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: var(--black);
}

.order-selection-div p {
    white-space: nowrap;
}

@media screen and (max-width: 800px) and (orientation: portrait) {

    .orders-container {
        margin-left: 0;
        width: 100%;
        align-items: center;
        margin-top: 11rem;
    }

}