html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    -webkit-tap-highlight-color: transparent;
    --darkgray: #555555;
    --saffron: #fd415f;
    --textlightgray: #757575;
    --black: #000;
    --white: #fff;
}

:root {
    font-size: 16px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

@media screen and (max-width: 1350px) {
    :root {
        font-size: 15.5px;
    }
}

@media screen and (max-width: 1200px) {
    :root {
        font-size: 15px;
    }
}

@media screen and (max-width: 1050px) {
    :root {
        font-size: 14.5px;
    }
}

@media screen and (max-width: 800px) and (orientation: portrait) {
    :root {
        font-size: 14px;
    }
}